src/test/resources/db/dataset/database.dtd

<!ELEMENT dataset (
    city*,
    flyway_schema_history*)>

<!ELEMENT city EMPTY>
<!ATTLIST city
    id CDATA #IMPLIED
    name CDATA #IMPLIED
    state CDATA #IMPLIED
    country CDATA #IMPLIED
    created_at CDATA #IMPLIED
>

<!ELEMENT flyway_schema_history EMPTY>
<!ATTLIST flyway_schema_history
    installed_rank CDATA #REQUIRED
    version CDATA #IMPLIED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #IMPLIED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

